/* Write your CSS here */
/* Write your CSS here */
.body {
  margin: 0px;
}
.bg-container {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #ffff;
  font-size: 35px;
}
.sub-heading {
  color: #ffff;
  font-size: 28px;
}
.para {
  color: #ffff;
  font-size: 2-0px;
}
image {
  height: 310px;
  width: 120px;
}
.button {
  height: 32px;
  width: 100px;
  margin: 12px;
  border-radius: 6px;
}
.acceleration-button {
  background-color: #0b69ff;
  color: #ffff;
}
.break-button {
  background-color: transparent;
  color: #ffff;
  border: 1px solid #ffff;
}
@media screen and (min-width: 768px) {
  .image {
    height: 605px;
    width: 450px;
  }
}
